<template>
  <ConfirmRegistrationForm/>
</template>

<script>
import ConfirmRegistrationForm from '@/components/ConfirmRegistrationForm.vue'
export default {
    components: {
        ConfirmRegistrationForm
    }
}
</script>

<style scoped>
div {
    margin-top: 50px;
}
</style>
