<template>
  <div>
      <mdc-layout-app>
          <mdc-toolbar slot="toolbar" fixed>
              <mdc-toolbar-row>
                  <mdc-toolbar-title>
                      Quickerbytes
                  </mdc-toolbar-title>
              </mdc-toolbar-row>
          </mdc-toolbar>
          <mdc-drawer slot="drawer" permanent>
                <mdc-drawer-list>
                    <mdc-drawer-item start-icon="add_shopping_cart">Order</mdc-drawer-item>
                    <mdc-drawer-item start-icon="settings">Settings</mdc-drawer-item>
                    <mdc-drawer-item @click="pushZestimate" start-icon="cash">Get Zestimate</mdc-drawer-item>
                    <mdc-drawer-item @click="signOut" start-icon="exit_to_app">Logout</mdc-drawer-item>
                </mdc-drawer-list>
          </mdc-drawer>
          <main class="main">
                <mdc-card class="cart">
                    <mdc-title>
                        My Cart
                    </mdc-title>
                    <mdc-list v-for="food of cartItems" :key="food.id">
                        <div>
                            <mdc-list-item>
                                <div class="foodCartItem">
                                    <span class="foodName">{{food.name}}</span>
                                    <span>${{food.price}}</span>
                                    <i class="material-icons delete-button">delete</i>
                                </div>
                            </mdc-list-item>
                        </div>
                    </mdc-list>
                </mdc-card>
                <mdc-card class="search">
                    <mdc-title>
                            Search
                    </mdc-title>
                    <mdc-textfield class="inputfield" trailing-icon="search" full-width v-model="query" label="Search"/>
                    <mdc-list v-for="food of searchItems" :key="food.id">
                        <div>
                            <mdc-list-item>
                                <div class="foodCartItem">
                                    <span class="foodName">{{food.name}}</span>
                                    <span>${{food.price}}</span>
                                    <i class="material-icons delete-button">add_to_cart</i>
                                </div>
                            </mdc-list-item>
                        </div>
                    </mdc-list>
                </mdc-card>
          </main>
      </mdc-layout-app>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
    data() {
        return {
            username: '',
            query: ''
        }
    },
    mounted() {
        console.log(this.$cognitoAuth.getCurrentUser())
        this.$cognitoAuth.getCurrentUser().getSession((err, session) => {
            if(err) {
                console.log('err, err', err)
            } else {
                console.log(session.isValid(), session)
                this.$cognitoAuth.getCurrentUser().getUserAttributes((err, params) => {
                    console.log(err, params)
                })
            }
        })

        this.username = this.$cognitoAuth.getCurrentUser().username
    },
    computed: {
        ...mapGetters(['cartItems', 'searchItems'])
    },
    watch: {
        query(newval) {
            this.search(newval)
        }
    },
    methods: {
        signOut() {
            this.$router.push('/signout')
        },
        pushZestimate() {
            this.$router.push('/zestimate')
        },
        ...mapMutations(['search'])
    }
}
</script>

<style lang="scss" scoped>
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    .search, .cart {
        padding: 5px;

        .foodCartItem {
            width: 100%;
            text-align: right;
            display: grid;
            grid-template-columns: auto 10% 10%;
            grid-gap: 5px;

            .foodName {
                text-align: left;
            }

            .delete-button:hover {
                color: red;
                cursor: pointer;
            }
        }
    }
}
</style>
