<template>
  <RegisterForm/>
</template>

<script>
import RegisterForm from '@/components/RegisterForm.vue'
export default {
    components: {
        RegisterForm
    }
}
</script>

<style scoped>
div {
    margin-top: 50px;
}
</style>
