<template>
    <ZillowGetZestimate/>
</template>

<script>
import ZillowGetZestimate from '@/components/ZillowGetZestimate.vue'
export default {
    components: {
        ZillowGetZestimate
    }
}
</script>

<style scoped>
div {
    margin-top: 50px;
}
</style>
