<template>
  <div>
    <mdc-card class="form-card">
        <mdc-card-media :src="'https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fcdn-image.foodandwine.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_inbody_900x506%2Fpublic%2F1502824044%2Froyal-farms-best-gas-station-food-FT-SS0817.jpg%3Fitok%3Dig79fdSU&w=700&q=85'"/>
        <mdc-linear-progress indeterminate :open="registering"></mdc-linear-progress>
        <mdc-display>Register</mdc-display>
        <form @submit.prevent="register">
            <div class="text">
                <mdc-textfield class="inputfield" required max-length="100" outline leading-icon="mail" v-model="username" label="Email"/>
                <mdc-textfield class="inputfield" required outline leading-icon="lock" type="password" v-model="password" label="Password"/>
                <mdc-textfield class="inputfield" required helptext="Password and confirm password must match" helptext-validation outline leading-icon="lock" type="password" v-model="confirmpassword" label="Confirm Password"/>
            </div>
            <div class="buttons">
                <div class="links">
                    <router-link to="/login">Already have an account?</router-link>
                </div>
                <mdc-button class="formbutton" raised :disabled="registering">Register</mdc-button>
            </div>
        </form>
    </mdc-card>
  </div>
</template>

<script>
export default {
    methods: {
        register() {
            if(this.password != this.confirmpassword) {
                this.$root.$emit('show-snackbar', {
                    message: 'Error: ' + 'Password must match confirm password'
                })
            } else {
                this.$cognitoAuth.register(this.username, this.password, (err, result) => {
                    if(err) {
                        this.$root.$emit('show-snackbar', {
                            message: 'Error: ' + err.message
                        })
                    } else {
                        this.$credentialManager.storeCredentials(this.username, this.password, null)
                        this.$router.replace({
                            path:'/confirm',
                            query: {
                                username: this.username
                            }
                        })
                    }
                })
            }
        }
    },
    data() {
        return {
            username: '',
            password: '',
            confirmpassword: '',
            registering: false
        }
    }
}
</script>

<style lang="scss" scoped>
.buttons {
    padding-left: 5%;
    padding-right: 5%;
    padding: 10px 5% 10px 5%;

    display: flex;
    justify-content: space-between;

    .links {
        text-align: left;
        a {
            display: block;
        }
    }
}
.form-card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    form {
        padding: 10px;
    }
}
.text {
    width: 90%;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.inputfield {
    /deep/ { // This is to prevent chrome's ugly yellow autofill color
        @-webkit-keyframes autofill {
            to {
                color: #666;
                background: transparent;
            }
        }

        input:-webkit-autofill {
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }
    }
}
</style>
