<template>
    <div>
        <mdc-card class="form-card">
            <mdc-card-media :src="'http://myagentmastermind.com/images/Zillow_logo_wordmark.png'"/>
            <mdc-linear-progress indeterminate :open="requestingZestimate"/>
            <mdc-dialog v-model="requestFinished" title="Your Zestimate" accept="Okay" @accept="onAccept">
                Your Zestimate is {{this.price}}
            </mdc-dialog>
            <mdc-display>Get Your Zestimate</mdc-display>
            <form @submit.prevent="confirm">
                <div class="text">
                    <mdc-textfield class="inputfield" required max-length="100" outline leading-icon="" type="text" v-model="address" label="Address"/>
                    <mdc-textfield class="inputfield" required outline leading-icon="" type="text" v-model="city" label="City"/>
                    <mdc-textfield class="inputfield" required max-length="2" outline leading-icon="" type="text" v-model="state" label="State"/>
                </div>
                <div class="buttons">
                    <mdc-button class="formbutton" raised :disabled="requestingZestimate">Get Zestimate</mdc-button>
                </div>
            </form>
        </mdc-card>
    </div>
</template>

<script>
export default {
    methods: {
        confirm() {
            this.axios.get('https://1lsxs7qe0c.execute-api.us-east-1.amazonaws.com/dev/zillowTest', {
                params: {
                    address: this.address,
                    city: this.city,
                    state: this.state
                }
            })
            .then(res => {
                console.log(res.data)
                this.price = '$' + res.data.amount.price
                this.requestFinished = true
            })
            .catch(err => {
                console.error(err)
            })
        },
        onAccept() {
            this.requestFinished = false
        }
    },
    data() {
        return {
            address: '',
            city: '',
            state: '',
            requestingZestimate: false,
            requestFinished: false,
            price: ''
        }
    }
}
</script>

<style lang="scss" scoped>
.buttons {
    padding-left: 5%;
    padding-right: 5%;
    padding: 10px 5% 10px 5%;

    display: flex;
    justify-content: space-between;

    .links {
        text-align: left;
        a {
            display: block;
        }
    }
}
.form-card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    form {
        padding: 10px;
    }
}
.text {
    width: 90%;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.inputfield {
    /deep/ { // This is to prevent chrome's ugly yellow autofill color
        @-webkit-keyframes autofill {
            to {
                color: #666;
                background: transparent;
            }
        }

        input:-webkit-autofill {
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }
    }
}
</style>
