$mdc-theme-primary: #35495e;
$mdc-theme-accent: #42b883;
$mdc-theme-background: #fff;

@import 'vue-mdc-adapter/dist/styles';
//@import 'vue-mdc-adapter/dist/textfield/styles';

a {
    text-decoration: none;
    color: $mdc-theme-accent;
}

body {
    background: url(/img/drumstick_bg.png);
    background-repeat: repeat;
    background-size: 25px;
}